* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background: #132741;
  overscroll-behavior: none;
  font-family: "Fredoka", sans-serif;
}
button {
  font: inherit;
}